body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 70px;
    margin-right: 1rem;
    margin-left: 1rem;
    vertical-align: middle;
}
.logo span {
    font-size: 40px;
    font-weight: 500;
    vertical-align: middle;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 45px;
    margin-right: 2rem;
}
nav ul li {
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}
nav ul li a:hover {
    color: #00abf0;
}
.recommendation {
    /* text-align: center; */
    padding: 20px;
}
.recommendation h2{
    margin-top: 3rem;
    margin-left: 3rem;
    font-weight: 500;
}
.brands {
    display: flex;
    justify-content: center;
    gap: 30px;
    /* margin-top: 3rem; */
    margin-bottom: 2rem;
}
.brands h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 400;
}
.brands h2::after {
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background-color: rgb(34, 165, 34);
    margin: 8px auto 0;
    border-radius: 2px;
}
.brand {
    padding: 15px 20px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.brand:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.casio{
    padding-top: 1rem;
}
.dw{
    padding-top: 1rem;
}
.ac{
    padding-top: 0.5rem;
}
.rolex{
    padding-top: 1rem;
}
.fossil{
    padding-top: 1rem;
}
.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    margin-bottom: 5rem;
}
.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 220px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.3s ease;
}
.product-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.casio1{
    width: 220px;
}
.ac1{
    width: 180px;
    margin-top: 1rem;
}
.acc1{
    margin-top: 1.8rem;
}
.fossil1{
    width: 200px;
    margin-top: 2rem;
}
.fossils1{
    margin-top: 2.2rem;
}
.fossill1{
    margin-top: 2.5rem;
}
.dw1{
    width: 150px;
    /* height: auto; */
    margin-top: 0.5rem;
}
.product-card h3{
    font-weight: 600;
}
.casio1{
    width: 200px;
    height: auto;
    margin-top: 2rem;
}
.casioo1{
    margin-top: 2.5rem;
}
.casiooo1{
    margin-top: 2.5rem;
}
.rolex1{
    width: 170px;
    height: auto;
    margin-top: 2rem;
}
.rolexx1{
    margin-top: 2.7rem;
}
.dw1{
    margin-top: 2rem;
}
.product-card h3 {
    font-size: 20px;
}
.product-card p {
    color: #28a745;
    font-weight: bold;
    font-size: 20px;
}
.product-card button {
    background: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 1rem;
}
footer {
    background: #333;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
    gap: 1px;
}
.footer-section {
    /* flex: 1; */
    min-width: 200px;
    margin-left: 3rem;
}
.footer-section h3 {
    border-bottom: 2px solid #c0392b;
    display: inline-block;
    padding-bottom: 5px;
    width: 100px;
    font-size: 15px;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section ul li {
    padding: 5px 0;
    font-size: 15px;
}
.footer-section .social-icons {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.footer-section .social-icons a {
    text-decoration: none;
    color: white;
    background: #444;
    padding: 8px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: background 0.3s;
}
.footer-section .social-icons a:hover {
    background: #7e7e7e;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .brand-logos {
        gap: 10px;
    }
    .brand-logos img {
        width: 70px;
    }
    .products {
        flex-direction: column;
        align-items: center;
    }
    .product-card {
        width: 90%;
    }
    .product-card img {
        width: 80px;
    }
    .brands h2 {
        font-size: 20px;
    }
}